.sidebar {
    height: 720px;
    width: 100%;
    background-color: lightgreen;
    border: 10px solid lightgreen;
}

.sidebar-to-reset {
    background-color: lightgreen;
}

.sidebar-to-red {
    background-color: red;
}

.sidebar-to-green {
    background-color: green;
}

.sidebar-to-blue {
    background-color: blue;
}
